/* ====================== General */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
	font-family: 'Open Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
  }

.form-control {
	margin-bottom: 20px;
}

.btn {
	border-radius: 0px;
}

.btn:hover {
	cursor: pointer;
}

.button-width {
	width: 200px;
}

#home_container {
	height: 500px;
}

#background-image {
	background-image: "../images/yoga-stock.jpg";
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

/* ======================= Nav */

.navbar {
	background-color: #fff;
	height: 46px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	margin-bottom: 1rem;
	position: relative;
	z-index: 9999;
}

.navbar a {
	color: #66757f;
	font-size: 14px;
	font-weight: bold;
}

.navbar a:hover {
	color: #1c94e0;
}

.navbar-brand {
	display: flex;
	align-items: center;
}

.navbar-brand > img {
	display: inline-block;
	margin-bottom: 2px;
	margin-right: 5px;
	width: 130px;
	border-radius: 2px;
}

.nav > li > a > img {
	width: 32px;
	border-radius: 32px;
}

ul.nav.navbar-nav {
	align-items: center;
}

ul.nav.navbar-nav li {
	margin: 0 0.5rem;
	display: flex;
}


nav + .container {
	margin-bottom: 1rem;
}

#nav-profile-image{
	border-radius: 100%;
	display: block;
	margin-left: -15px;
	margin: 0 auto 15px;
	max-height: 50px;
	max-width: 50px;
}

.fb-icon{
	color: #6691CC;
	font-size: 3em;
}

.email-icon{
	color: #FFE9A2;
	font-size: 3em;
}

/* .opaque {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 0.4;
} */

#background-image {
	background-image: url("/static/images/yoga_bg.jpg");
	height: 93vh;
	width: 100vw;
	position: relative;
   }

#pos-absolute {
	position: absolute;
}

/* ===================== User profile */


#profile-image,
#profile-avatar {
	border-radius: 100%;
	display: block;
	margin-left: -15px;
}

#profile-image {
	margin: 0 auto 15px;
	width: 100%;
	height: 200px;
	width: 200px;
}


.message-area {
	margin-left: 10px;
}

.full-width {
	width: 100vw;
	margin: 0 -50vw;
	position: relative;
	left: 50%;
	right: 50%;
}

.row.full-width {
	background-color: #fff;
	margin-top: -80px;
	margin-bottom: 1rem;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
	height: 60px;
	align-items: center;
}

@media (max-width: 768px) {
	.full-width .user-stats .stat {
		display: none;
	}
}

.smallest-pic {
	height: 50px;
	width: auto;
	border-radius: 100%;
}


/* ========================== Signup/Login */

#user_form input.form-control {
	font-size: 18px;
	font-weight: bold;
	padding: 12px;
}


/* ================================ 404 page */

.message-404 {
	color: white;
	margin-top: 2em;
	text-align: center;
}

.message-404 a {
	color: white;
}

.message-404 > h4.display-4 {
	font-size: 2.5em;
}

.message-404 .form-inline input {
	flex: 1;
}

.card-position {
	position: relative;
	margin-top: 100px;
	position: absolute;
	top: 50%;
	left: 30%;
	min-height: 75%;
	max-height: 90%;
	min-width: 500px;
	align-items: center;
	transform:translate(0%, -50%);
	-webkit-transform:translate(0%, -50%);
}

.card-button {
	position: absolute;
	right: 15px;
	bottom: 15px;
}

.user-detail-no-classes {
	text-align: center;
}