/* ====================== General */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


body {
	font-family: 'Open Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
  }


/* ====== Navbar ======  */

.navbar {
	background-color: #fff;
	height: 46px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	margin-bottom: 1rem;
	position: relative;
	z-index: 9999;
}

.navbar a {
	color: #66757f;
	font-size: 14px;
	font-weight: bold;
}

.navbar-brand {
	display: flex;
	align-items: center;
}

ul.nav.navbar-nav {
	align-items: center;
}

ul.nav.navbar-nav li {
	margin: 0 0.5rem;
	display: flex;
}

nav + .container {
	margin-bottom: 1rem;
}


/* ====== Home Page ======  */

.background-image {
	background-image: url("/static/images/yoga_bg.jpg");
	height: 800px;
	width: 100%;
	position: relative;
   }

@media (max-width: 992px) {
	.background-image {
		background-image: url("/static/images/yoga_bg.jpg");
		height: 1000px;
		width: 100%;
		position: relative;
	   }	
	}

#login-card {
	width: 450px;
	height: 400px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#signup-card {
	width: 450px;
	height: 400px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.col-centered {
	display:inline-block;
	float:none;
	}

.profile-image {
	margin: auto;
	height: 250px;
	width: 250px;
	border-radius: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
}

.profile-image-holder{
	position: relative;
	height: 300px;
	width: 300px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.fb-icon{
	color: #6691CC;
	font-size: 3em;
}

.email-icon{
	color: #FFE9A2;
	font-size: 3em;
}

/* ====== Forms ======  */

#user_form input.form-control {
	font-size: 18px;
	font-weight: bold;
	padding: 12px;
}

/* ====== 404 Page ======  */

.message-404 {
	color: white;
	margin-top: 2em;
	text-align: center;
}

.message-404 a {
	color: white;
}

.message-404 > h4.display-4 {
	font-size: 2.5em;
}

.message-404 .form-inline input {
	flex: 1;
}

/* ====== Misc ======  */

.form-control {
	margin-bottom: 20px;
}

.pos-relative {
	position: relative;
  }

.btn {
	border-radius: 0px;
}

.btn:hover {
	cursor: pointer;
}

.card-button {
	position: absolute;
	right: 15px;
	bottom: 15px;
}