{% extends 'base.html' %}

{% block content %}
<div class="container">
<br>

<div class="row">
  <div class="col-md-4 offset-md-2">
    <img src="{{ user.image_url }}" alt="Image for {{ user.first_name }}" id="profile-image" class="shadow">
  </div>
  <div class="col-md-4">
    {% if g.user.id == user.id %}
      <br><div class="col-md-12"><h3 class="featurette-heading">{{ user.first_name }} {{ user.last_name }}</h3></div> <br>
      <div class="col-md-12"><a href="/instructor_access/add_class" class="btn btn-success btn-sm btn-block shadow">Create Class</a></div><br>
      <div class="col-md-12"><a href="/instructor_access/edit" class="btn btn-info btn-sm btn-block shadow">Edit Account Information</a></div>
    {% endif %}
  </div>
</div><br>
<div class="row">
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category,msg in messages %}
  <div class="alert alert-{{ category }} col-md-8 offset-md-2" role="alert">
    {{msg}}
  </div>
  {% endfor %}
{% endif %}
{% endwith %}

{% if user.classes_teaching %}
</div>
<h2 class="lead d-flex justify-content-center">You are scheduled to teach the following classes:</h2>
<div class="row">

      
  {% for c in user.classes_teaching %}
    <div class="card col-md-4 m-2 shadow pos-relative">
      <div class="card-body">
        <h5 class="card-title">Yoga by {{ c.instructor.first_name }}</h5> 
        <h6 class="card-subtitle mb-2 text-muted">{{c.start_date_time}} - {{c.end_date_time}}</h6>
        <p class="card-text">Location: {{ c.location }}</p>
        <hr>
        {% if c.users %}
          <h5 class="card-text">Who has signed up:</h5>
          <ul>
            {% for u in c.users %}
              {{u.first_name}} {{u.last_name}} <br>
            {% endfor %}
          </ul>
        {% else %}
          <p>Noone signed up yet</p>
        {% endif%}
        <form method="POST" action="/classes/delete/{{ c.id }}">
        <br><button type="submit" class="btn btn-light btn-sm active card-button">Delete Class</button></form>
      </div>
    </div>
  {% endfor %}
  {% else %}
  <br>
  <div class="container">
    <h2 class="lead d-flex justify-content-center">You are not scheduled to teach any classes</h2>
  </div>
{% endif %}

{% if user.classes_signed_up %}
<div class="container"><br>
  <h2 class="lead d-flex justify-content-center">You are signed up for the following classes:</h2>
</div>
  {% for c in user.classes_signed_up %}
  <div class="card col-md-4 m-2 shadow pos-relative">
    <div class="card-body">
        <h5 class="card-title">Yoga by {{ c.instructor.first_name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{c.start_date_time}} - {{c.end_date_time}}</h6>
        <p class="card-text">Location: {{ c.location }}</p>
        <form method="POST" action="/classes/cancel_signup/{{ c.id }}">
        <button type="submit" class="btn btn-light btn-sm active card-button">Cancel Signup</button></form>
      </div>
    </div>
  {% endfor %}
{% endif %}

</div>

</div>
{% endblock %}