<!-- --------base.html-------- -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Lunchtime Yoga for Professionals</title>

    <!-- CSS Bootstrap, Axios, jQuery, fontawesome, css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://unpkg.com/jquery"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

    <!-- Calendar css -->
    <link rel="stylesheet" type="text/css" href="/static/calendar/dist/simple-calendar.css" />

    <!-- Bootstrap Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>

</head>

<body>
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
        <li><a href="/" class="navbar-brand">
          <span>Lunchtime Yoga</span>
        </a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/#calendar_classes">Classes</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if g.user.is_instructor %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  {{ g.user.first_name}}  
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/instructor_access/detail">Instructor Account</a>
            <a class="dropdown-item" href="/logout">Log Out</a>
          </div>
        </li>
        {% elif g.user %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" 
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">  {{ g.user.first_name}}  
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/users/detail">Account</a>
            <a class="dropdown-item" href="/logout">Log Out</a>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>
<div class="container">
  {% block content %}
  {% endblock %}
</div>


<!-- Calendar Javascript -->
<script type="text/javascript" src="/static/calendar/dist/jquery.simple-calendar.js"></script>

<!-- JS code to populate calendar -->
<script>
  const yogaClasses = [];
  async function getClasses() {
      // save results from JSON get request to variable and iterate through each item
      const res = await axios.get('http://localhost:5000/json');
      for (let c of res.data) {
        // change time to MST to avoid converstion by adding to end of date string
        const startTimeToMst = c.start_date_time + ("-0700");
        const endTimeToMst = c.end_date_time + ("-0700");
        // create new date object using the MST date string
        const startDateObj = new Date(startTimeToMst);
        const endDateObj = new Date(endTimeToMst);
        // create event object using modified start/end datetimes
        const eventObj = { startDate: c.start_date_time, 
                          endDate: c.end_date_time, 
                          instructor: c.instructor,
                          location: c.location,
                          classId: c.id, 
        };
        yogaClasses.push(eventObj)
        console.log(yogaClasses)
      }}

  getClasses();

    // calendar coder's instructions to create events in calendar
    $("#calendar").simpleCalendar({
            // displays events
            displayEvents:true,
            // event dates
            events:yogaClasses,
            // disable showing event details
            disableEventDetails:false,
            // disable showing empty date details
            disableEmptyDetails:false
            });

// Initialize Calendar
  $(document).ready(function(){
    $("#calendar").simpleCalendar();
  });

// functions created to correct classes not initially displayed on calendar
setTimeout(function(){ $(".btn-next").click()}, 100);
$(".btn-prev").click();

// temporary function to display element information in console to assist in debugging
document.addEventListener("click", function(e){console.dir(e.target)});
</script>
</body>
</html>