{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
<div class="background-image">
  <div class="row">
    <div class="col-md-8 offset-md-2 alertbox">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}<br>
          {% for category,msg in messages %}
            <div class="alert alert-{{ category }}" role="alert">
              {{msg}}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>

  {% if not messages %}
  <br><br><br><br>
  {% endif %}
  <div class="container">
  <div class="row">
    <div class="card shadow-sm col-xs-4 mr-lg-2" id="login-card">
        <div class="row no-gutters">
            <div class="col-xs-10 offcenter-1 text-center">
              <br><br><br>
              <h1>Lunchtime Yoga for Professionals</h1><br>
              <span>Ready for a break from the chaos? </span><br>
              <span>Ground yourself with local yoga classes.</span><br>
              <span>Virtual classes available.</span>
            </div>
        </div>
    </div>

    <div class="card shadow-sm col-xs-4 ml-lg-2" id="login-card">
      <div class="card-body">

        {% if g.user and not g.user.is_instructor %}
        <br><br><br>
        <div class="mx-auto greeting-box text-center">
          <h4 class="card-title mb-4 mt-1 text-center" id="home-greeting">Hi, {{ g.user.first_name }}</h4><br><br>
        </div><br>
        <div class="form-group">
          <a class="nav-link" href="/#calendar_classes"><button type="button" class="btn btn-success btn-block btn-lg">View available classes</button></a>
          <a class="nav-link" href="/users/detail"><button type="button" class="btn btn-info btn-block btn-lg">View your enrolled classes</button></a>
        </div>

        {% elif g.user and g.user.is_instructor %}
        <br><br><br><br>
        <div class="mx-auto greeting-box text-center">
          <h4 class="card-title mb-4 mt-1" id="instructor-greeting">Hi, {{ g.user.first_name }}</h4><br><br>
        </div>
        <div class="form-group">
          <a class="nav-link" href="/users/detail"><button type="button" class="btn btn-success btn-block btn-lg">Instructor Access</button></a>
        </div>

        {% else%}
          <article class="card-body">

            <a href="/users/signup" class="float-right btn btn-outline-primary">Sign up</a>
            <h4 class="card-title mb-4 mt-1" id="home-h4">Sign in</h4>
            <form method="POST" id="login_form">
              {{ form.csrf_token }}
              {% for field in form if field.widget.input_type != 'hidden' %}
              
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                <label>{{field.label.text}}</label>{{ field(class="form-control shadow-sm") }}</div> 
              {% endfor %}
            
              <div class="form-group">
                <br><button class= "btn btn-primary btn-block"> Login </button>
              </div>  

            </form>
          </article>
        {% endif %}
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="about">
    <br>
    <h1 class="display-4">About the Group</h1><br>
    <p class="lead">This 15 year program is staffed with experienced teachers who offer a mix of Vinyasa, Hatha, Yin, Pranayama 
      (breath movement) and Meditation.
      Drop in class is $10.
      Three months of classes is $130.
      First class is free.</p>
  </div>
  <hr class="featurette-divider"><br>


  <div class="px-3 pt-md-1 pb-md-10 mx-auto text-center">
    <h1 class="display-4" id='calendar_classes'>Available Classes</h1><br>
  </div>
  <div id='calendar'></div>
  <p class="lead text-center text-muted">To schedule a class, {% if user %}please login and{% endif %} select a colored date above.</p><br>
  <hr class="featurette-divider"><br>


  <div class="px-3 pt-md-1 pb-md-10 mx-auto text-center">
    <h1 class="display-4" id="instructors">Instructors</h1><br>
  </div>
  <div class="row featurette">
    <div class="col-md-5 order-md-1 profile-image-holder">
      <img src="../static/images/Lisa.jpg" alt="Instructor Image" class="shadow profile-image">
    </div>
    <div class="col-md-7 order-md-2 pos-relative"><br>
      
      <h2 class="featurette-heading">Lisa Olmstead, RYT500</h2>
      <p class="lead">While living in Asia, Lisa studied Vinyasa, Iyengar, Qi and Meditation which rooted 
        her holistic approach of teaching yoga.  She has a deep interest to teach not only the physical 
        self as we know it from a Western perspective, but to open the ‘yoga doors’ and allow students to 
        know themselves energetically inviting space and lightness to their entire being.  She has her 500 
        RYT and lives with a ‘beginner’s mind’.  She always has her next yoga teacher training class on the 
        calendar, with the excited intent to bring this newly attained insight and knowledge to her next class.</p>
    </div>
  </div><br>
  <div class="row featurette">
    <div class="col-md-5 order-md-2 profile-image-holder">
      <img src="../static/images/Jenn.jpg" alt="Instructor Image" class="shadow profile-image">
    </div>
    <div class="col-md-7 order-md-1">
      <h2 class="featurette-heading">Jennifer Keck, RYT200</h2>
      <p class="lead">Jennifer discovered the benefits of yoga during recovery from a stroke. 
        The more she learned about positive impacts yoga has on the brain the more she wanted to practice and learn. 
        The more she practiced, all aspects of her life improved; 
        including balance, strength and focus. She considers herself still very much a work in progress!
        She completed her 200-hour training with the ZenSpot Institute in Costa Rica and is constantly in learning 
        mode as she continues to expand her practice and knowledge. She is incredibly grateful to have found amazing, 
        passionate instructors and students that continue to inspire her to be her best on and off my mat.
        She tends to teach a vigorous vinyasa style class.
        Expect to be welcomed in a lighthearted session meant to get everybody moving, sweating and breathing.</p>
    </div>
  </div><br>
  <div class="row featurette">
    <div class="col-md-5 order-md-1 profile-image-holder">
      <img src="../static/images/AJ.jpeg" alt="Instructor Image" class="shadow profile-image">
    </div>
    <div class="col-md-7 order-md-2"><br>
      <h2 class="featurette-heading">AJ Brown, RYT500</h2>
      <p class="lead">AJ discovered yoga while attending nursing school. Yoga was important for him during this time 
        because it brought balance to his hectic schedule of studying and work. After graduating from nursing school 
        life became less stressful and yoga slowly faded away. However a co-worker brought AJ back to yoga and it was 
        then that he realized its importance his life. The changes it made in him was something he wanted to share 
        with the  public and is now realizing that dream – to guide you on your yoga journey. 
        Yoga to AJ is a balance of strength and flexibility, stress and relaxation. He does vinyasa flows that will make you sweat. 
        He also does yin flows that will leave you feeling refreshed and relaxed.</p>
    </div>
  </div>
  <br><hr class="featurette-divider"><br>


  <div class="container">
    <h3 class="text-center my-0">Contact</h3>
    <div class="row" id="contact">
      <div class="text-center my-auto mx-auto">
        <a href="https://www.facebook.com/groups/2569017809890003">
          <span class="fb-icon"><i class="fab fa-facebook fa-xs"></i></span>
        </a>
      </div>

      <div class="text-center my-auto mx-auto">
        <a href="mailto:lisaolmstead@gmail.com">
          <span class="email-icon"><i class="fas fa-envelope fa-xs"></i></span>
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}