{% extends 'base.html' %}
{% block content %}
  <div class="bg position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light" id="background-image">
    <div class="col-md-10 p-lg-5 mx-auto my-1">
      <h1 class="display-4 font-weight-normal">Lunchtime Yoga for Professionals</h1>
      <p class="lead font-weight-normal">This is the homepage for the yoga website.</p>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category,msg in messages %}
          <div class="alert alert-{{ category }}" role="alert">
            {{msg}}
          </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      {% if g.user %}
      <br><div class="col-md-5 order-md-1 mx-auto">
        <img src="{{ g.user.image_url }}" alt="Profile Image" id="profile-image" class="shadow">
      </div>
      <p class="lead font-weight-normal">Hi, {{ g.user.first_name }}</p>

      {% else %}
      <div class="row justify-content-sm-center">
        <div class="col-md-7 col-lg-5">
          <form method="POST" id="user_form">
            {{ form.hidden_tag() }}
      
            {% for field in form if field.widget.input_type != 'hidden' %}
              {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
              {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}
      
            <button class="btn btn-primary btn-lg btn-block">Log in</button>
            <p class="lead font-weight-normal">or</p>
            <a href="/signup" class="btn btn-success btn-lg btn-block">Sign up</a>
          </form>
        </div>
      </div>

      {% endif %}
    </div>
  </div>

  <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="about">
    <h1 class="display-4">About</h1><br>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Qui vel quisquam ratione architecto sit unde, odit autem reiciendis alias aliquam 
      officia quidem rem iusto minima sapiente, consectetur error, adipisci optio?</p>
  </div>
  <hr class="featurette-divider"><br>

  <div class="px-3 pt-md-1 pb-md-10 mx-auto text-center">
    <h1 class="display-4">Instructors</h1><br>
  </div>
<div class="row featurette">
    <div class="col-md-7 order-md-2"><br>
      <h2 class="featurette-heading">Lisa Olmstead</h2>
      <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Qui vel quisquam ratione architecto sit unde, odit autem reiciendis alias aliquam 
        officia quidem rem iusto minima sapiente, consectetur error, adipisci optio?</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="../static/images/mom.jpg" alt="Instructor Image" id="profile-image" class="shadow">
    </div>
</div><br>
<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Jenn</h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis 
      euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, 
      tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5">
    <img src="../static/images/profile_pic.png" alt="Instructor Image" id="profile-image" class="shadow">
  </div>
</div><br>
<div class="row featurette">
  <div class="col-md-7 order-md-2"><br>
    <h2 class="featurette-heading">AJ</h2>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Qui vel quisquam ratione architecto sit unde, odit autem reiciendis alias aliquam 
      officia quidem rem iusto minima sapiente, consectetur error, adipisci optio?</p>
  </div>
  <div class="col-md-5 order-md-1">
      <img src="../static/images/profile_pic.png" alt="Instructor Image" id="profile-image" class="shadow">
  </div>
</div>
<br><hr class="featurette-divider"><br>

<div class="px-3 pt-md-1 pb-md-10 mx-auto text-center">
  <h1 class="display-4" id='calendar_classes'>Classes</h1><br>
</div>
<div id='calendar'></div>

<hr class="featurette-divider"><br>
<div class="container"><h4 class="text-center my-0">Contact</h4>
  <div class="row" id="contact">
    <div class="col-sm text-center my-auto mx-auto">
      <a href="https://www.facebook.com/groups/2569017809890003">
        <span class="fb-icon"><i class="fab fa-facebook fa-xs"></i></span>
      </a>
    </div>
    <div class="col-sm text-center my-auto mx-auto">
      <a href="mailto:lisaolmstead@gmail.com"><span>lisaolmstead24@gmail.com</span></a>
    </div>
  </div>
</div>

{% endblock %}