{% extends 'base.html' %}
{% block content %}

<div id="background-image-vert">
    <div class="row">
        <div class="card shadow-sm col-xs-4 offset-md-2" id="login-card-half">
            <div class="row no-gutters">
                <div class="col-xs-10 offcenter-1 text-center">
                <br><br><br><br>
                <h1 class="">Lunchtime Yoga for Professionals</h1><br>
                <span>Ready for a break from the chaos? </span><br><span>Ground yourself with local yoga classes.</span>
                <br><span>Virtual classes available.</span>
                </div>
            </div>
        </div>

        <div class="card shadow-sm col-xs-4 col-centered" id="login-card-half">
            <div class="card-body">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,msg in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                {{msg}}
                </div>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <article class="card-body">
                <a href="/users/signup" class="float-right btn btn-outline-primary">Sign up</a>
                <h4 class="card-title mb-4 mt-1">Sign in</h4>
            
                <form method="POST" id="user_form">
                
                {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <div class="form-group">
                <label>{{field.label.text}}</label>
                {{ field(class="form-control shadow-sm") }}</div> 
                {% endfor %}
                
                    <div class="form-group">
                        <br><button type="submit" class="btn btn-primary btn-block"> Login  </button>
                    </div>                                                       
                </form>
                </article>
            </div>
        </div>
    </div>
</div>

{% endblock %}