{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
  <div class="form-background pos-relative"><br><br>


<div class="card text-center col-sm-10 col-md-8 col-lg-6 mx-auto my-auto shadow card-body">
  <div class="col-sm-10 col-md-10 mx-auto my-1">
    <h2 class="join-message">Create Class</h2><br>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category,msg in messages %}
        <div class="alert alert-{{ category }} text-center" role="alert">
          {{msg}}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

<div class="row justify-content-sm-center">
  <div class="col-md-10 form-group">


    <form method="POST" id="user_form">
      {{ form.csrf_token }}
      {% for field in form if field.widget.input_type != 'hidden' %}
      
        {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {% if field.id == 'is_instructor' %}
            {{ field.label }} 
          {% endif %}
          {{ field(placeholder=field.label.text, class="form-control") }}
          
      {% endfor %}

      <button class="btn btn-info btn-lg btn-block">Create Account</button>
    </div>
  </form>
</div>
</div>

</div>
</div>


{% endblock %}