{% extends 'base.html' %}


{% block content %}

<div class="class-create-background pos-relative">

<div class="container"><br>
  <div class="card shadow">
    <div class="card-body text-center">
      <div class="card-title"><h3 class="featurette-heading text-center">{{ user.first_name }} {{ user.last_name }}</h3></div>
      <div class="row form-group">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category,msg in messages %}
              <div class="alert alert-{{ category }} col-md-8 offset-md-2 text-center" role="alert">
                {{msg}}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      {% if g.user.is_instructor %}
        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2"><a href="/users/add_class" class="btn btn-success btn-block btn-md">Create Class</a></div>
      {% endif %}
      <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2"><a href="/users/edit" class="btn btn-info btn-block btn-md">Edit Account Information</a></div>
    </div>
  </div>
</div>  

<div class="container">
  {% if user.classes_teaching %}

  
    <br>
    <div><h4 class="d-flex justify-content-center">You are scheduled to teach the following classes:</h4></div>
    <br>

    <div class="row">       
    {% for c in user.classes_teaching %}
      <div class="card col-md-6 col-lg-4 shadow-sm pos-relative">
        <div class="card-body">
          <h5 class="card-title">{{c.class_date}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{c.start_time}} - {{c.end_time}}</h6>
          <p class="card-text">{{ c.location }}</p>
          <hr>
          {% if c.users %}
            <h5 class="card-text">Who has signed up:</h5>
            <ul>
              {% for u in c.users %}
                {{u.first_name}} {{u.last_name}} <br>
              {% endfor %}
            </ul>
          {% else %}
            <p>Noone signed up yet</p>
          {% endif%}
          <form method="POST" action="/classes/delete/{{ c.id }}">
          <br><button type="submit" class="btn btn-light btn-sm active card-button">Delete Class</button></form>
        </div>
      </div>
    {% endfor %}
    {% elif user.is_instructor and not user.classes_teaching %}
    <br>
    <div class="container col-xs-12">
      <h2 class="lead d-flex justify-content-center">You are not scheduled to teach any classes</h2>
    </div>
  {% endif %}


  {% if user.classes_signed_up %}
  <div class="container col-xs-12"><br>
    <h2 class="lead d-flex justify-content-center">You are signed up for the following classes:</h2>
  </div>
    {% for c in user.classes_signed_up %}
    <div class="card col-md-4 m-2 shadow pos-relative">
      <div class="card-body">
          <h5 class="card-title">Yoga by {{ c.instructor.first_name }}</h5>
          <h6 class="card-title">{{c.class_date}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">{{c.start_time}} - {{c.end_time}}</h6>
          <p class="card-text">{{ c.location }}</p>
          <form method="POST" action="/classes/cancel_signup/{{ c.id }}">
          <button type="submit" class="btn btn-light btn-sm active card-button">Cancel Signup</button></form>
        </div>
      </div>
    {% endfor %}
  {% elif not user.is_instructor and not user.classes_signed_up %}
    <br>
    <div class="container col-xs-12">
      <p class="lead d-flex justify-content-center">You are not scheduled for any classes</p>
    </div>
  {% endif %}

  </div>
</div>

</div>  

{% endblock %}